body{
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}


h1{
    font-family: sans-serif;
    font-size: 60PX;
    margin-left: 250PX;
    border: solid black;
    text-align: center;
    width: 60%;
    box-shadow: 0px 0px 20px 20px grey;
    background-color: black;
    color: white;
    
}

.CONTAINER{
    width: 80%;
    height: 120vh;
    border: ridge 15px white;
    border-radius: 10px;
}

h2{
    margin-top: 10px;
    font-family: sans-serif;
    margin-left: 250PX;
    border: solid black;
    text-align: center;
    width: 60%;
    box-shadow: 0px 0px 20px 20px grey;
    background-color: black;
    color: white;
}

.shade {
    box-shadow: 0px 0px 20px 20px grey;
    background-color: black;
    color: white;
    width: 85%;
    height: 75vh; 
    margin-left: 110PX;
    margin-top: 60px;
}

h3{
    border-bottom: double;
    color: white;
    width: 15%;
}

button{
    width: 35%;
    height: 10vh;
    box-shadow: 0px 0px 20px 20px grey;
    background-color: black;
    color: white;
}

.days{
    margin-top: 50px;
    position: relative;
    left: 640px;
    bottom: 430px;
}

